/zadanie2/lizard_images1/
/zadanie2/lizard_images2/
/zadanie2/lizard_labels/
/zadanie2/overlay/
/zadanie2/images_all/consep_1.png
/zadanie2/images_all/consep_2.png
/zadanie2/images_all/consep_3.png
/zadanie2/images_all/consep_4.png
/zadanie2/images_all/consep_5.png
/zadanie2/images_all/consep_6.png
/zadanie2/images_all/consep_7.png
/zadanie2/images_all/consep_8.png
/zadanie2/images_all/consep_9.png
/zadanie2/images_all/consep_10.png
/zadanie2/images_all/consep_11.png
/zadanie2/images_all/consep_12.png
/zadanie2/images_all/consep_13.png
/zadanie2/images_all/consep_14.png
/zadanie2/images_all/consep_15.png
/zadanie2/images_all/consep_16.png
/zadanie2/images_all/crag_1.png
/zadanie2/images_all/crag_2.png
/zadanie2/images_all/crag_3.png
/zadanie2/images_all/crag_4.png
/zadanie2/images_all/crag_5.png
/zadanie2/images_all/crag_6.png
/zadanie2/images_all/crag_7.png
/zadanie2/images_all/crag_8.png
/zadanie2/images_all/crag_9.png
/zadanie2/images_all/crag_10.png
/zadanie2/images_all/crag_11.png
/zadanie2/images_all/crag_12.png
/zadanie2/images_all/crag_13.png
/zadanie2/images_all/crag_14.png
/zadanie2/images_all/crag_15.png
/zadanie2/images_all/crag_16.png
/zadanie2/images_all/crag_17.png
/zadanie2/images_all/crag_18.png
/zadanie2/images_all/crag_19.png
/zadanie2/images_all/crag_20.png
/zadanie2/images_all/crag_21.png
/zadanie2/images_all/crag_22.png
/zadanie2/images_all/crag_23.png
/zadanie2/images_all/crag_24.png
/zadanie2/images_all/crag_25.png
/zadanie2/images_all/crag_26.png
/zadanie2/images_all/crag_27.png
/zadanie2/images_all/crag_28.png
/zadanie2/images_all/crag_29.png
/zadanie2/images_all/crag_30.png
/zadanie2/images_all/crag_31.png
/zadanie2/images_all/crag_32.png
/zadanie2/images_all/crag_33.png
/zadanie2/images_all/crag_34.png
/zadanie2/images_all/crag_35.png
/zadanie2/images_all/crag_36.png
/zadanie2/images_all/crag_37.png
/zadanie2/images_all/crag_38.png
/zadanie2/images_all/crag_39.png
/zadanie2/images_all/crag_40.png
/zadanie2/images_all/crag_41.png
/zadanie2/images_all/crag_42.png
/zadanie2/images_all/crag_43.png
/zadanie2/images_all/crag_44.png
/zadanie2/images_all/crag_45.png
/zadanie2/images_all/crag_46.png
/zadanie2/images_all/crag_47.png
/zadanie2/images_all/crag_48.png
/zadanie2/images_all/crag_49.png
/zadanie2/images_all/crag_50.png
/zadanie2/images_all/crag_51.png
/zadanie2/images_all/crag_52.png
/zadanie2/images_all/crag_53.png
/zadanie2/images_all/crag_54.png
/zadanie2/images_all/crag_55.png
/zadanie2/images_all/crag_56.png
/zadanie2/images_all/crag_57.png
/zadanie2/images_all/crag_58.png
/zadanie2/images_all/crag_59.png
/zadanie2/images_all/crag_60.png
/zadanie2/images_all/crag_61.png
/zadanie2/images_all/crag_62.png
/zadanie2/images_all/crag_63.png
/zadanie2/images_all/crag_64.png
/zadanie2/images_all/dpath_1.png
/zadanie2/images_all/dpath_2.png
/zadanie2/images_all/dpath_3.png
/zadanie2/images_all/dpath_4.png
/zadanie2/images_all/dpath_5.png
/zadanie2/images_all/dpath_6.png
/zadanie2/images_all/dpath_7.png
/zadanie2/images_all/dpath_8.png
/zadanie2/images_all/dpath_9.png
/zadanie2/images_all/dpath_10.png
/zadanie2/images_all/dpath_11.png
/zadanie2/images_all/dpath_12.png
/zadanie2/images_all/dpath_13.png
/zadanie2/images_all/dpath_14.png
/zadanie2/images_all/dpath_15.png
/zadanie2/images_all/dpath_16.png
/zadanie2/images_all/dpath_17.png
/zadanie2/images_all/dpath_18.png
/zadanie2/images_all/dpath_19.png
/zadanie2/images_all/dpath_20.png
/zadanie2/images_all/dpath_21.png
/zadanie2/images_all/dpath_22.png
/zadanie2/images_all/dpath_23.png
/zadanie2/images_all/dpath_24.png
/zadanie2/images_all/dpath_25.png
/zadanie2/images_all/dpath_26.png
/zadanie2/images_all/dpath_27.png
/zadanie2/images_all/dpath_28.png
/zadanie2/images_all/dpath_29.png
/zadanie2/images_all/dpath_30.png
/zadanie2/images_all/dpath_31.png
/zadanie2/images_all/dpath_32.png
/zadanie2/images_all/dpath_33.png
/zadanie2/images_all/dpath_34.png
/zadanie2/images_all/dpath_35.png
/zadanie2/images_all/dpath_36.png
/zadanie2/images_all/dpath_37.png
/zadanie2/images_all/dpath_38.png
/zadanie2/images_all/dpath_39.png
/zadanie2/images_all/dpath_40.png
/zadanie2/images_all/dpath_41.png
/zadanie2/images_all/dpath_42.png
/zadanie2/images_all/dpath_43.png
/zadanie2/images_all/dpath_44.png
/zadanie2/images_all/dpath_45.png
/zadanie2/images_all/dpath_46.png
/zadanie2/images_all/dpath_47.png
/zadanie2/images_all/dpath_48.png
/zadanie2/images_all/dpath_49.png
/zadanie2/images_all/dpath_50.png
/zadanie2/images_all/dpath_51.png
/zadanie2/images_all/dpath_52.png
/zadanie2/images_all/dpath_53.png
/zadanie2/images_all/dpath_54.png
/zadanie2/images_all/dpath_55.png
/zadanie2/images_all/dpath_56.png
/zadanie2/images_all/dpath_57.png
/zadanie2/images_all/dpath_58.png
/zadanie2/images_all/dpath_59.png
/zadanie2/images_all/dpath_60.png
/zadanie2/images_all/dpath_61.png
/zadanie2/images_all/dpath_62.png
/zadanie2/images_all/dpath_63.png
/zadanie2/images_all/dpath_64.png
/zadanie2/images_all/dpath_65.png
/zadanie2/images_all/dpath_66.png
/zadanie2/images_all/dpath_67.png
/zadanie2/images_all/dpath_68.png
/zadanie2/images_all/dpath_69.png
/zadanie2/images_all/glas_1.png
/zadanie2/images_all/glas_2.png
/zadanie2/images_all/glas_3.png
/zadanie2/images_all/glas_4.png
/zadanie2/images_all/glas_5.png
/zadanie2/images_all/glas_6.png
/zadanie2/images_all/glas_7.png
/zadanie2/images_all/glas_8.png
/zadanie2/images_all/glas_9.png
/zadanie2/images_all/glas_10.png
/zadanie2/images_all/glas_11.png
/zadanie2/images_all/glas_12.png
/zadanie2/images_all/glas_13.png
/zadanie2/images_all/glas_14.png
/zadanie2/images_all/glas_15.png
/zadanie2/images_all/glas_16.png
/zadanie2/images_all/glas_17.png
/zadanie2/images_all/glas_18.png
/zadanie2/images_all/glas_19.png
/zadanie2/images_all/glas_20.png
/zadanie2/images_all/glas_21.png
/zadanie2/images_all/glas_22.png
/zadanie2/images_all/glas_23.png
/zadanie2/images_all/glas_24.png
/zadanie2/images_all/glas_25.png
/zadanie2/images_all/glas_26.png
/zadanie2/images_all/glas_27.png
/zadanie2/images_all/glas_28.png
/zadanie2/images_all/glas_29.png
/zadanie2/images_all/glas_30.png
/zadanie2/images_all/glas_31.png
/zadanie2/images_all/glas_32.png
/zadanie2/images_all/glas_33.png
/zadanie2/images_all/glas_34.png
/zadanie2/images_all/glas_35.png
/zadanie2/images_all/glas_36.png
/zadanie2/images_all/glas_37.png
/zadanie2/images_all/glas_38.png
/zadanie2/images_all/glas_39.png
/zadanie2/images_all/glas_40.png
/zadanie2/images_all/glas_41.png
/zadanie2/images_all/glas_42.png
/zadanie2/images_all/glas_43.png
/zadanie2/images_all/glas_44.png
/zadanie2/images_all/glas_45.png
/zadanie2/images_all/glas_46.png
/zadanie2/images_all/glas_47.png
/zadanie2/images_all/glas_48.png
/zadanie2/images_all/glas_49.png
/zadanie2/images_all/glas_50.png
/zadanie2/images_all/glas_51.png
/zadanie2/images_all/glas_52.png
/zadanie2/images_all/glas_53.png
/zadanie2/images_all/glas_54.png
/zadanie2/images_all/glas_55.png
/zadanie2/images_all/glas_56.png
/zadanie2/images_all/glas_57.png
/zadanie2/images_all/glas_58.png
/zadanie2/images_all/glas_59.png
/zadanie2/images_all/glas_60.png
/zadanie2/images_all/glas_61.png
/zadanie2/images_all/pannuke_1.png
/zadanie2/images_all/pannuke_2.png
/zadanie2/images_all/pannuke_3.png
/zadanie2/images_all/pannuke_4.png
/zadanie2/images_all/pannuke_5.png
/zadanie2/images_all/pannuke_6.png
/zadanie2/images_all/pannuke_7.png
/zadanie2/images_all/pannuke_8.png
/zadanie2/images_all/pannuke_9.png
/zadanie2/images_all/pannuke_10.png
/zadanie2/images_all/pannuke_11.png
/zadanie2/images_all/pannuke_12.png
/zadanie2/images_all/pannuke_13.png
/zadanie2/images_all/pannuke_14.png
/zadanie2/images_all/pannuke_15.png
/zadanie2/images_all/pannuke_16.png
/zadanie2/images_all/pannuke_17.png
/zadanie2/images_all/pannuke_18.png
/zadanie2/images_all/pannuke_19.png
/zadanie2/images_all/pannuke_20.png
/zadanie2/images_all/pannuke_21.png
/zadanie2/images_all/pannuke_22.png
/zadanie2/images_all/pannuke_23.png
/zadanie2/images_all/pannuke_24.png
/zadanie2/images_all/pannuke_25.png
/zadanie2/images_all/pannuke_26.png
/zadanie2/images_all/pannuke_27.png
/zadanie2/images_all/pannuke_28.png
