/zadanie2/lizard_images1/
/zadanie2/lizard_images2/
/zadanie2/lizard_labels/
/zadanie2/overlay/
/zadanie2/images_all/
/zadanie2/images_array.npy
/zadanie2/inst_maps_replaced.npy
/zadanie2/inst_maps_replaced_resized.npy
/zadanie2/tensor_labels.pt
/zadanie2/tensor_images.pt
/zadanie2/__pycache__
/zadanie2/wandb/
/zadanie2/data_norm/
/zadanie2/data_original/
/zadanie3/__pycache__